@charset "utf-8";

/* ==================================
  TOPページのスタイル
================================== */
.main-visual {
  position: relative;
}

.main-visual img {
  width: 100%;
}

.main-visual-copy {
  font-size: 2em;
  position: absolute;
  bottom: 1em;
  right: 3em;
}

/* Feature Section */
.secondary-section {
  padding: 5em 0;
}

.heading-center {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1.25em;
}

.feature-item {
  width: calc((100% - 2em - 2em) / 3);
  list-style: none;
}

.feature-item-inner {
  display: flex;
  flex-direction: column-reverse;
}

.feature-item-title {
  font-size: 1.375em;
  text-align: center;
  margin-bottom: 0.364em;
}

.feature-item-image {
  width: 80px;
  margin: 0 auto 1em;
}

.feature-item-image img {
  width: 100%;
  max-width: inherit;
}
